.card{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin:auto;
    transition: 0.3s;
    border-radius: 10px;
    text-shadow: 0 .05rem .1rem rgba(15, 2, 2, 0.92);
    padding-left: 20px;
    padding-bottom:20px;
}
.p{
    font-family: "Times New Roman", Times, serif;
    font-size: 13.5px;
}