{% extends "base.html" %}

{% block head_title %}Post list | {{ block.super }}{% endblock head_title %}

{% block content %}
    <h2>Post List</h2>
    {% if object_list %}
        {% for post in object_list %}
            <h1>{{ post.post_list.heading }}</h1>
            <h5>{{ post.post_list.sub_heading }}</h5>
            <img src="{{ post.banner_photo.url }}">
            <p>{{ post.author }}</p>
            <p><small>{{ post.date_created }}, Updated {{ post.date_modified|timesince }} ago</small></p>
            {% for tag in post.object_list %}
                <p>{{ post.tags }}</p>
            {% endfor %}
            <p>{{ post.category }}</p>
            <p>{{ post.body }}</p>
            <p>{{ post.status }}</p>
        {% endfor %}
    {% else %}
        <p>No post</p>
    {% endif %}
{% endblock %}