{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<title>Post</title>
{% block content %} 
  {% for obj in post %}
    <div class="card">
      <h1>{{obj.blog.heading}}</h1>
      <h2>{{obj.blog.sub_Heading}}</h2>
      <h3>{{obj.title}}</h3>
      <p><strong>Posted By:</strong> {{obj.author}}</p>
      <small> Posted on: {{ obj.date|timesince }} ago</small></p>
      <p><img src="{{ obj.MEDIA_URL }}{{obj.banner_photo.url}}" width="570px"></p>       
      <p class="p">{{obj.body}}</p>

          <small>Date Modified: {{obj.date_modified }} </small>
  
    </div>
  {% endfor %}
 {% endblock %}